p:first-child{
    font-family:'Courier New', Courier, monospace;
    color:thistle;
}	

h2{
    color:rgb(125, 125, 231)   
  }
  h3{
    color:rgb(95, 95, 150)
  }
  
  /* ol{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(147, 130, 196)
  } */
  
  /* ul{
     font-family:Arial, Helvetica, sans-serif;
     color:rgb(149, 128, 187)
  } */

  body{
    background-color:rgb(242, 235, 247)
}